<p id="notice"><%= notice %></p>

<h1>Rohans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rohans.each do |rohan| %>
      <tr>
        <td><%= rohan.name %></td>
        <td><%= rohan.age %></td>
        <td><%= link_to 'Show', rohan %></td>
        <td><%= link_to 'Edit', edit_rohan_path(rohan) %></td>
        <td><%= link_to 'Destroy', rohan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rohan', new_rohan_path %>
