<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rohan.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rohan.age %>
</p>

<%= link_to 'Edit', edit_rohan_path(@rohan) %> |
<%= link_to 'Back', rohans_path %>
